* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grey-bg {
  background-color: #666666;
}
.yellow-bg {
  background-color: #ffc107;
}
.black-bg {
  background-color: black;
}
.grey-bg > ul,
.top__black-vu-text {
  color: white;
}
li > a {
  color: #000;
  text-decoration: none;
}
