* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.grey-bg {
  background-color: #363636;
}
.yellow-bg {
  background-color: #ffc107;
}
.black-bg {
  background-color: black;
}
.grey-bg > ul,
.top__black-vu-text {
  color: white;
}
li > a {
  color: #000;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.flex--column {
  flex-direction: column;
}
li {
  list-style-type: none;
}
.top__black-green-text {
  color: #3bbd3b;
  font-size: 18px;
  margin-inline: 12px;
  min-width: 350px;
  font-weight: 700;
}
.top__black-vu-text {
  font:
    1.6vw Arial,
    Helvetica,
    sans-serif;
  font-weight: bolder;
  margin-left: 10px;
  min-width: 350px;
}
li > a {
  font: 0.7rem "montserratregular";
  font-weight: 600;
}
.icon-title {
  font:
    0.8rem "Open Sans",
    "Segoe UI",
    Frutiger,
    "Frutiger Linotype",
    "Dejavu Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;
}
caption {
  color: #212529;
  font-size: 1.75em;
  color: #000;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}
h4 {
  font: 2em, sans-serif;
  font-weight: 550;
}
td > a {
  font-size: 0.89em;
  color: #0440c4;
  padding-left: 12px;
  font-weight: 500;
}

td {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5px;
  padding-bottom: 15px;
}

table {
  border: 1px solid #dee2e6;
  border-top: 2px solid #dee2e6;
  margin-left: 20px;
  width: 97%;
}
.bottom {
  height: 4em;
  width: 100%;
}
.top {
  height: 4em;
  width: 100%;
}
.top__black {
  width: 55%;
  height: 100%;
}
.top__yellow {
  width: 45%;
  height: 100%;
}
.logo {
  height: 3.5em;
  margin-top: 20px;
  margin-bottom: 15px;
}
.icon_wrap {
  min-width: 9.5%;
  height: 66px;
  justify-content: center;
  text-align: center;
}
.icon_wrap:hover.icon_wrap {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(110, 109, 109, 0.5);
}
.icon {
  height: 20px;
}
.icon-title {
  font-size: 0.7em;
}
.top__yellow_links {
  margin-left: 70px;
  gap: 15px;
}
.top__yellow_links > li {
  gap: 12px;
  font-size: 0.5em;
  font-weight: 800;
}
.bottom__search-bar {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  background-color: #ffc107;
  padding-left: 6px;
  margin-left: 5px;
}
.icon_wrap:last-child{
 min-width:5%;
}
.icon_wrap:hover .bottom__search-bar{
  background-color:#1b2a39
}
.top__yellow_language-input {
  background-color: aliceblue;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  gap: 8px;
  padding-left: 3px;
  position: relative;
  left: 90px;
}
.arrow {
  color: #7e7e7e;
  font-size: 12px;
  margin-right: 5px;
  padding-block: 5px;
}
.Select {
  font: 12px "arial";
}
.top__yellow_language-input > img {
  height: 18px;
}
p > a,
span > a {
  text-decoration: none;
  color: inherit;
}
.dropdown {
  display: none;
}
.icon_wrap:hover .dropdown {
  display: flex;
  background-color: #363636;
  min-width: 215px;
  position: absolute;
  top: 125px;
  font-size: 12px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}
.icon_wrap:hover .dropdown > li {
  border-bottom: 1px solid rgba(110, 109, 109, 0.5);
  width: 100%;
  padding-left: 10px;
  padding-block: 5px;
  text-align: left;
}
.icon_wrap:hover .aboutus-dropdown {
  left: 1px;
}
