* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.grey-bg {
  background-color: #363636;
}
.yellow-bg {
  background-color: #ffc107;
}
.black-bg {
  background-color: black;
}
.grey-bg > ul,
.top__black-vu-text {
  color: white;
}
li > a {
  color: #000;
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.flex--column{
  flex-direction: column;
}
li {
  list-style-type: none;
}
.top__black-green-text {
  color: #3bbd3b;
  font-size: 18px;
  margin-inline: 12px;
  min-width: 350px;
  font-weight: 700;
}
.top__black-vu-text {
  font:
    1.6vw Arial,
    Helvetica,
    sans-serif;
  font-weight: bolder;
  margin-left: 10px;
  min-width: 350px;
}
li > a {
  font: 0.7rem "montserratregular";
  font-weight: 600; 
}
.icon-title {
  font:
    0.8rem "Open Sans",
    "Segoe UI",
    Frutiger,
    "Frutiger Linotype",
    "Dejavu Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;
}
caption {
  color: #212529;
  font-size: 1.75em;
  color: #000;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}
h4 {
  font: 2em, sans-serif;
  font-weight: 550;
}
td > a {
  font-size: 0.89em;
  color: #0440c4;
  padding-left: 12px;
  font-weight: 500;
}

td {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5px;
  padding-bottom: 15px;
}

table {
  border: 1px solid #dee2e6;
  border-top: 2px solid #dee2e6;
  margin-left: 20px;
  width: 97%;
}
.bottom {
  height: 4em;
  width: 100%;
}
.top {
  height: 4em;
  width: 100%; 
}
.top__black {
  width: 55%;
  height: 100%;
}
.top__yellow{
  width: 45%;
  height: 100%;
}
.logo {
  height: 3.5em;
  margin-top: 20px;
  margin-bottom:15px;
}
.icon_wrap{
  min-width:9.3%;
  height: 100%;
  justify-content: center;
  text-align:center;
  padding-top:8px ;
}
.icon {
  height: 20px;
}
.icon-title {
font-size: 0.7em;
}
.top__yellow_links  {
margin-left: 70px;
gap: 15px;
}
.top__yellow_links>li {
 gap: 12px;
 font-size: 0.5em;
 font-weight: 800;
}
.bottom__search-bar{
  margin-top: 10px;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color:#ffc107;
  padding-left: 4px;
  margin-left: 20px;
}
.top__yellow_language-input {
  background-color: aliceblue;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
}
.arrow {
  color: #9b9b9b;
}
.Select {
   font:12px "arial"
}